 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 .nav-bar {
     width: 100vw;
     height: 30px;
     box-shadow: 0px 0px 20px 15px rgb(36, 36, 36);
     /* border:1px solid red; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: linear-gradient(45deg, rgb(228, 221, 165), rgb(45, 11, 11));
     /* position:fixed; */
 }

 .ngo-logo {
     width: 150px;
     height: 100%;
     /* border:1px solid black; */
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: space-between;
     /* transition:all 6s  linear ; */
     animation: logoo 1s ease forwards;


 }

 @keyframes logoo {
     from {
         /* opacity:0; */
         transform: translateX(-100%);
     }

     to {
         /* opacity:1; */
         transform: translateX(0);

     }
 }

 .ngo-logo img {
     width: 30px;
     height: 30px;
     border-radius: 50%;


 }


 #ngo-name {
     font-family: cursive;
     font-size: 26px;
 }

 .donate-bar {
     width: 300px;
     height: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;

 }

 .donate-bar div {

     font-size: 13px;
     font-family: sans-serif;
     margin-right: 20px;

 }

 .donate-bar a {
     text-decoration: none;
     color: white;

 }

 .donate {
     background-color: rgb(34, 160, 17);
     padding: 7px;
     border-radius: 5px;
 }

 .donate:hover {
     background-color: chartreuse;
 }

 body {
     background-image: url(https://www.dishafoundation.ngo/img/slider-1.jpeg);
     background-position: relative;

     background-size: cover;
     background-repeat: no-repeat;



 }

 .container {
     /* border:1px solid red; */
     width: 100vw;
     display: flex;
     flex-direction: column;
     gap: 10px;




 }

 .first {

     width: 60%;
     height: 300px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-left: 10px;
     padding: 2px;




 }

 .first>.first-img {
     width: 30%;
     height: 230px;
     overflow: hidden;
     border-radius: 5px;

 }

 .first>.first-img:hover {
     box-shadow: 0px 0px 10px rgb(223, 222, 222);
 }

 .first>.first-data {
     width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     background: linear-gradient(45deg, rgb(176, 220, 122), rgb(89, 106, 110));
     padding: 30px;
     overflow: hidden;
     font-size: 12px;
     border-radius: 5px;



 }

 .first>.first-data:hover {
     box-shadow: 0px 0px 10px rgb(186, 185, 185);
 }

 .first .first-data p {

     color: rgb(232, 228, 222);
     margin-left: 20px;

 }

 .first>.first-data>#donate {
     padding: 7px;
     border-radius: 5px;
     background-color: rgb(122, 73, 10);
     color: white;
     font-family: cursive;

     border: none
 }

 .first>.first-data>a {
     text-decoration: none;
 }

 .first>.first-data>#donate:hover {
     background-color: rgb(230, 168, 88);

 }

 #summer {
     animation: summer 1s ease forwards;


 }

 @keyframes summer {
     from {
         /* opacity:0; */
         transform: translateX(-100%);
     }

     to {
         /* opacity:1; */
         transform: translateX(0);

     }
 }

 #winter {
     animation: winter 1.5s ease forwards;


 }

 @keyframes winter {
     from {
         /* opacity:0; */
         transform: translateX(-100%);
     }

     to {
         /* opacity:1; */
         transform: translateX(0);

     }
 }

 #utensils {
     animation: utensils 1.75s ease forwards;


 }

 @keyframes utensils {
     from {
         /* opacity:0; */
         transform: translateX(-100%);
     }

     to {
         /* opacity:1; */
         transform: translateX(0);

     }
 }

 #books {
     animation: books 2s ease forwards;


 }

 @keyframes books {
     from {
         /* opacity:0; */
         transform: translateX(-100%);
     }

     to {
         /* opacity:1; */
         transform: translateX(0);

     }
 }

 @media only screen and (max-width:797px) {
     .first {
         /* flex-direction: column; */

         width: 320px;
         height: 300px;



     }

     .first-img {
         width: 560px;
         height: 50px;
     }

     .a {
         display: none;
     }
 }