 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: linear-gradient(45deg, rgb(10, 171, 180), rgb(10, 166, 62))
 }

 .container {
     display: flex;
     align-items: center;
     gap: 20px;
     justify-content: space-around;
     margin-top: 40px;
 }

 .form {
     /* border:1px solid black; */
     background: linear-gradient(45deg, rgb(184, 184, 4), rgb(66, 65, 65));
     width: 400px;
     height: 400px;
     text-align: center;
     padding: 10px;
     color: aliceblue;
     font-weight: 1000;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgb(64, 62, 62);

 }

 input {
     width: 90%;
     padding: 5px;
     margin-top: 10px;
     border: none;

 }

 .donate {
     background-color: rgb(88, 45, 5);
     border-radius: 5px;
     color: white;
     width: 200px;
     padding: 10px;

 }

 .donate:hover {
     background-color: rgb(158, 83, 14);
 }

 .result {
     margin-bottom: 280px;

 }

 .result th {
     background-color: rgb(215, 222, 19);
 }

 .result table {
     box-shadow: 0px 0px 10px black;

 }

 .result td {
     background-color: rgb(162, 90, 12);
     color: white;
 }

 @media only screen and (max-width:500px) {
     .form {
         width: 300px;
         height: 320px;


     }

     .container {
         font-display: flex;
         flex-direction: column;
         gap: 5px;
         margin-top: 20px;
     }
 }